
.App {
	font-family: Source Sans Pro;
	font-weight: 300;
	letter-spacing: 0.01em;
	font-size: 16px;
	line-height: 18px;
	width: 98vw;
}

.App-Intro {
	background: url(./assets/intro.png) center no-repeat;
	width: 98vw;
	height: 100vh;
}

.Content-Wrap {
	margin-bottom: 10vh;
	border: 1px solid black;
	display: block;
}

.Content {
	padding-top: 40vh;
	padding-bottom: 60vh;
	left: 18vw;
	width: 30vw;
	position: relative; 
	white-space: pre-line;
	border: 1px dashed black;
}

.DateDisplay, .Counter, .Counter-Text , .Voronoi{
	left: 2vw;
	position: fixed;
	color: #972D15;
	letter-spacing: -0.01em;
	width: 250px;
	border: 1px solid red;
	top: 80vh;
}

.Counter {
	font-size: 74px;
	/*line-height: 68px;*/
	top: 84vh;
	letter-spacing: -0.05em;
}
.Counter-Text {
	top: 89vh;
	font-weight: 400;
}
.Voronoi {
	top: 94vh;
	color: #000;
}

/*SVG */
svg {
	left: 40vw;
	top: 0vh;
	position: fixed;
	border: 1px solid red;
	z-index: -1;
}

path {
  pointer-events: all;
  fill: none;
  stroke: #666;
  /*stroke-opacity: 0.1;*/
  stroke-opacity: 0;
}

.Credits {
	height: 100vh;
	z-index: 9999;
	background: #fff;
}

.Credits-Donate, .Credits-Sources  {
	position: relative; 
	left: 18vw;
	top: 40vh;
	color: #972D15;
	letter-spacing: -0.01em;
	line-height: 20px;
}

ul > li {
	list-style-type: none;
}
