@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500');

body {
	background: #EAE3D1;
	/*background: url(./assets/notebook.png) center;*/
}

.App {
	font-family: 'Source Code Pro', 'Source Sans Pro', monospace;
	font-weight: 300;
	letter-spacing: 0em;
	font-size: 18px;
	line-height: 26px;
	width: 100vw;
	overflow-x: hidden;
}

.App-Intro {
	background: url(./assets/intro_solidcolor.png) center no-repeat;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1
}

.Content-Wrap {
	margin-bottom: 10vh;
	/*border: 1px solid black;*/
	display: block;
}

.Audio {
	visibility: hidden;
}

.Content {
	padding-top: 50vh;
	padding-bottom: 61vh;
	left: 2vw;
	width: 20vw;
	position: relative; 
	white-space: pre-line;
	color: #191406;
	/*border: 1px dashed black;*/
}

.DateDisplay, .Counter, .Counter-Text{
	left: 2vw;
	top: 2vh;
	position: fixed;
	font-family: 'Source Sans Pro';
	color: #9C261F;
	letter-spacing: -0.01em;
	width: 250px;
	z-index: -1;
	/*border: 1px solid red;*/
}

.Counter {
	font-size: 74px;
	top: 6vh;
	letter-spacing: -0.05em;
}
.Counter-Text {
	top: 10vh;
	font-weight: 400;
}

.Voronoi {
	top: 44vh;
	color: #000;
}

svg {
	left: 10vw;
	top: 10vh;
	position: fixed;
	border: 1px solid red;
	/*z-index: -1;*/
}

path {
  pointer-events: all;
  fill: none;
  stroke: #666;
  stroke-opacity: 0.1;
  /*stroke-opacity: 0;*/
}

.Voronoi {
	height: 100vh;
	position: relative; 
	left: 18vw;
	top: 40vh;
	letter-spacing: -0.01em;
	line-height: 20px;
	width: 30vw;
}

.Credits {
	height: 100vh;
	width: 30vw;
}

.Credits-Donate, .Credits-Sources  {
	position: relative; 
	left: 18vw;
	top: 35vh;
	color: #972D15;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 20px;
}

ul > li {
	list-style-type: none;
}
