.App {
	font-family: Source Sans Pro;
	font-weight: 300;
}

.App-header {
	background-color: #0E8D96;
	height: 27px;
	width: 100%;
	line-height: 50px;
	position: absolute;
}


.App-text-left {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100px;
	left: 100px;
	bottom: 20px;
	width: 300px;
}

button {
	margin-right: 10px;
}

svg {
	border: 1px solid black;
	padding: 0; 
	margin: 0; 
	position: fixed; 
	left: 540px;
	right: 20px; 
	top: 100px;
}

.active {
  stroke: #00f;
  stroke-width: 2px;
}

.Counter {
	font-size: 18px;
}

.Content {
	font-size: 12px;
}