@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
	background: #EAE3D1;
}

.App {
	font-family: 'Lora';
	font-weight: 400;
	line-height: 26px;
	width: 100vw;
	position: absolute;
	opacity: 1;
	top: 0vh;
	left: 0vw;
}

.App-Fallback {
	opacity: 0;
	overflow: scroll;
}

.App-Intro {
	height: 100vh;
	position: relative;
	width: 50vw;
	z-index: 2;
	background-color: #191406;
}


.App-Intro-Title {
	font-size: 138px;
	line-height: 175px;
	width: 40vw;
	color: #fff;	
	padding-left: 5vw;
	padding-top: 24vh;
}

.App-Intro-Subtitle {
	padding-top: 14vh;
	font-size: 38px;
	line-height: 58px;
	width: 35vw;
	color: #fff;	
	padding-left: 5vw;
}

.App-Intro-Explanation {
	padding-left: 37vw;
	padding-top: 17vh;
	width: 12vw;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #fff;	
	line-height: 24px;
	text-align: right;
	z-index: 1;
	background:  #191406;
}

@media screen and (max-width: 1500px) {
	.App {
		line-height: 15px;
	}
	.App-Intro-Title {
		font-size: 80px;
		line-height: 103px;
	}

	.App-Intro-Subtitle {
		font-size: 22px;
		line-height: 34px;
	}

	.App-Intro-Explanation { 
		font-size: 10px;
		padding-top: 10vh;
		line-height: 16px;
	}
}

@media screen and (max-width: 767px) {
	.App {
		opacity: 0;
	}

	.App-Fallback {
		opacity: 1;
		background:  #191406;
		height: 100vh;
		position: fixed;
		width: 100vw;
	}
	
	.App-Fallback-Title  {
		font-size: 64px;
		line-height: 90px;
		width: 50vw;
		color: #fff;	
		padding-left: 5vw;
		top: 10vh;
		position: relative;
	}

	.App-Fallback-Text {
		top: 20vh;
		left: 5vw;
		position: relative;
		color: #fff;
		width: 60vw;
		font-size: 18px;
		line-height: 24px;
	}	

	.App-Fallback-Text > a {
		text-decoration: underline;
	}

	.App-Fallback-Logo {
		position: relative;
		height: 36px;
		background: url('./assets/logoIXT.png') no-repeat;
		left: 5vw;
		top: 35vh;
	}
}

/* ---------------------------------------------- Icons  */

.App-Header-Title {
	position: fixed;
	left: 0vw;
	top: 0vh;
	padding-top: 2vh;
	padding-left: 4vw;
	padding-bottom: 1vh;
	width: 36vw;
	display: block;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	background:  #191406;
	z-index: 1;
}

.App-Header-Share {
	position: fixed;
	left: 46vw;
	top: 5vh;
}

.App-Header-Audio {
	position: fixed;
	left: 46vw;
	top: 2vh;
}

.Audio {
	display: inline-block;
	cursor: pointer;
	height: 20px;
	width: 26px;
	transition: background 0.08s;
	background: url('./assets/audio-small.png')  center no-repeat;
}

.Audio:hover {
	transition: background 0.1s;
	background: url('./assets/audio-hover-small.png')  center no-repeat;
}

.Audio.isMuted {
	transition: background 0.08s;
	background: url('./assets/audio-muted-small.png') no-repeat;
}

.Audio-Player {
  display: none;
}


.Content-Gradient {
	position: fixed;
	top: 95vh;
	background: linear-gradient( to bottom,  #191406, #EAE3D0); 
	height: 5vh;
	width: 50vw;
	opacity: 0.2;
	left: 0vw;
}

@media screen and (max-width: 1100px) {	
	.App-Header-Audio   {
		left: 46vw;
	}
}


/* ----------------------------------------------Share  */


.Share-Twitter {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 26px;
  background: url('./assets/twitter-small.png') center no-repeat;
  transition: background 0.08s;
}

.Share-Twitter:hover {
	background: url('./assets/twitter-hover-small.png') center no-repeat;
}

.Share-Facebook {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 26px;
  margin-top: 1vh;
  background: url('./assets/facebook-small.png') center no-repeat;
  transition: background 0.08s;
}

.Share-Facebook:hover {
	background: url('./assets/facebook-hover-small.png') center no-repeat;
}

/* ----------------------------------------------Timeline  */

.Timeline {
	left: 45vw;
	top: 50vh;
	width: auto;
	height: auto;
	position: fixed;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 300;
	border-right: 1.2px solid #fff;
	line-height: 24px;
}

.TimelineItem {
	color: #fff;
	opacity: 1;
	transition: opacity 0.6s;
	text-align: right;
	padding-right: 0.5vw;
	position: relative;
	transition: opacity 0.6s;
	
}

.TimelineItem::after {
	content: "";
	border-top: 1px solid #fff;
	display: block;
	position: absolute;
	top: 1vh;
	right: 0;
	line-height: 24px;
	width: 0.3vw;
}

.TimelineItem-isHidden {
	opacity: 0;
	transition: opacity 0.6s;

}

@media screen and (max-width: 1500px) {
	.Timeline {
		font-size: 10px;
		line-height: 14px;
	}
	.TimelineItem::after  {
		line-height: 14px;
	}
}



/* ----------------------------------------------Counter */

.Counter-Wrap {
	top: 85vh;
	left: 55vw;
	width: 40vw;
	height: 15vh;
	border-top: 1px solid #D3D2D2;
	position: fixed;
	opacity: 1;
	transition: opacity 1s;
}


.Counter-Wrap-isHidden {
	opacity: 0;
	transition: opacity 1s;
}

.Counter-text, .Counter{
	top: 84vh;
	left: 55vw;
	height: 5vh;
	position: fixed;
	font-family: 'Open Sans';
	font-size: 64px;
	letter-spacing: -0.01em;
	background: #EAE3D1;
	/*border: 1px solid red;*/
	z-index: 1;
	margin: 0 15vw;
	text-align: center;
}

.Counter-text {
	font-size: 22px;
	top: 88vh;
	left: 53vw;
}


@media screen and (max-width: 1500px) {
	.Counter-Wrap { 
		left: 58vw;
		
	}

	.Counter-text, .Counter {
		font-size: 38px;
	}

	.Counter-text {
		font-size: 12px;
	}

}


/* ----------------------------------------------Content */

.Content-Wrap {
	width: 50vw;
	background-color: #191406;
}

.Content {
	left: 5vw;
	width: 30vw;
	padding-top: 50vh;
	padding-bottom: 43vh;
	position: relative; 
	white-space: pre-line;
	color: #fff;
	font-size: 48px;
	line-height: 64px;
	/*border: 1px dashed red;*/
}

.Content-Quote {
	padding-left: 6vw;
	width: 30vw;
	padding-top: 50vh;
	padding-bottom: 45vh;
	position: relative; 
	white-space: pre-line;
	color: #fff;
	font-size: 48px;
	left: 5vw;
	line-height: 64px;
	/*border: 1px dashed black;*/
}

.Quote-Source {
	padding-top: 8vh;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 26px;
}


@media screen and (max-width: 1500px) {
	.Content, .Content-Quote {
		font-size: 28px;
		line-height: 38px;
	}

	.Quote-Source  {
		font-size: 10px;
		line-height: 15px;
	}
}

/* ---------------------------------------------- SVG */


svg {
	left: 50vw;
	top: 0;
	position: fixed;
}

.word {
	fill: #191406;
}
.word.isFalling {
	stroke: #9C261F

}
.word.isQuoteA , .word.isQuoteB {
	stroke:  #191406;
	stroke-width: 2;
}


/* ----------------------------------------------Credits */

.Credits {
	height: 105vh;
	width: 30vw;
	padding-top: 50vh;
	padding-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
	.Credits {
		height: 125vh;
	}
}


.Credits-Methods, .Credits-Donate, .Credits-Sources, .Credits-Credits, .Credits-Author  {
	font-family: 'Open Sans';
	position: relative; 
	left: 6vw;
	top: 20vh;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	letter-spacing: 0em;
	font-weight: 400;
}

.Credits-Author {
	padding-top: 2vh;
	top: 0vh;
	padding-bottom: 0vh;
	left: 0vw;
}

.Credits-Methods-Text, .Credits-Donate-Text, .Credits-Sources-Text, .Credits-Credits-Text  {
	font-family: 'Open Sans';
	position: relative; 
	left: 6vw;
	top: 20vh;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}


.Credits-Credits-Logo {
	position: relative; 
	left: 6vw;
	top: 30vh;
	height: 36px;
	padding-top: 1vh;
	background: url('./assets/logoIXT.png') no-repeat;
}

@media screen and (max-width: 1500px) {
	.Credits-Methods, .Credits-Donate, .Credits-Sources, .Credits-Credits  {
		font-size: 12px;
		line-height: 18px;
		padding-top: 2vh;
		padding-bottom: 1vh;	
	}

	.Credits-Methods-Text, .Credits-Donate-Text, .Credits-Sources-Text, .Credits-Credits-Text  {
		font-size: 12px;
		line-height: 18px;
	}
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	cursor: pointer;
	background: #9C261F;
}


ul > li {
	list-style-type: none;
}

ul > li > a {
	color: #fff;
	font-weight: 300;
	text-decoration: none;
}

ul > li > a:visited {
	color: #fff;
}

ul > li > a:hover {
	cursor: pointer;
	background: #9C261F;
}

::selection {
  background: #9C261F; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #9C261F; /* Gecko Browsers */
}
